aiohttp==3.7.4
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.3.0
behindthename @ git+https://github.com/Grumblesaur/behindthename.git@daa96835137bf056844e991b64cfd8740168cd2c
certifi==2022.12.7
chardet==4.0.0
discord==1.0.1
discord.py==1.4.1
Django==3.1.12
idna==2.10
idna-ssl==1.1.0
importlib-metadata==1.5.0
lark-parser==0.11.1
markovify==0.8.0
more-itertools==8.2.0
multidict==4.7.4
packaging==20.1
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.6
pytest==5.3.5
pytz==2020.1
requests==2.25.1
six==1.14.0
sqlparse==0.3.1
tesnames @ git+https://github.com/hrmay/tesnames.git@3b7eac77613272c3fd25fbf4682aa5ee7f2e3dca
timestamp @ git+https://github.com/Grumblesaur/timestamp.git@048075a28da4b854cc980d3759db823f333068e4
typing-extensions==3.7.4.1
Unidecode==1.1.1
urllib3==1.26.5
wcwidth==0.1.8
websockets==9.1
yarl==1.4.2
zipp==2.1.0
